@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Roboto:ital,wght@0,100;1,300&display=swap');

:root {
    --main-color: #380ee3;
    --black-color: #000000;
    --border: 0.1rem solid rgba(255, 255, 255, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
    font-family: 'Poppins', sans-serif;
}

/* Base HTML codes */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-color);
    margin: 0;
    padding: 0;
}

/* Header Start */
.header .logo img {
    height: 9rem;
    border-radius: 9rem;
    margin-top: 0.5rem;
}
.header {
    background-color: #fff; /* Transparan beyaz arka plan */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7%;
    position: fixed;
    top: 0;
    margin-top: 20px;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 700;
    border-radius: 100vh; /* Tam ekran genişliği */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;
}

.header .navbar .active,
.header .navbar a:hover {
    border-color: var(--main-color);
    padding-bottom: 0.5rem;
}

.header .buttons button {
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
}
/*Header End*/

/* Home Start */
.home {
    min-height: 100vh;
    background: url(../images/ofis-pz.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 7%;
}

.home .content {
    max-width: 60rem;
    text-align: center;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    background-color: var(--main-color);
    color: #ffffff;
    font-size: 1.7rem;
}

.home .content h3 {
    font-size: 6rem;
    color: #ffffff;
    left: 0;
}

.home .content p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color: #ccc;
}
/* Home End */

/* Menu Section */
.menu {
    padding: 5rem 7%;
    background-color: #fff;
}

.menu h1 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

.menu h1 span {
    color: var(--main-color);
}

.box-container {
    display: flex;
    justify-content: center;
}

.box {
    width: 30rem;
    margin: 2rem;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.box-head img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

/* Footer */
footer {
    text-align: center;
    padding: 2rem;
    background-color: #333;
    color: white;
}
